<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Home</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/help.html">Help</a></li>
        <li><a href="/brocktest">API Test</a></li>
      </ul>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="/about">About</a></li>
        <li><a href="/help.html">Help</a></li>
        <li><a href="/brocktest">API Test</a></li>
      </ul>
    </div>
  </nav>
<h1>{{title}}</h1>
